streamlit
streamlit-option-menu
streamlit-pandas-profiling
ydata-profiling
pandas
pycaret
pygwalker
autoviz
numpy
scipy
scikit-learn
statsmodels
category-encoders
matplotlib
openpyxl
google-generativeai
google-ai-generativelanguage
plotly